body{
    background-color: gray;

}

table,td,tr
{

    min-width: 250px;
    width: max-content;
    height: auto;
    border: solid black 1px;
}

#st{
    color: yellow;
}

#pr{
    color: greenyellow;
}
#vp{
    color: red;
}